/* RESET */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
   
   
}

/* COMMON */
img{
    width: 100%;
}
body{
    font-family:Open Sans,sans-serif;
}


.clearfix::after{
    content:"";
    display:table;
    clear:both;
}

.col{
    float: left;
}

.container{
    width: 70%;
    margin: auto;
}

.titles{
    font-size: 40px;
}

h3{
    font-size: 25px;
    margin: 25px 0;
    font-weight: 800;
}
h4{
     font-weight:800;
     margin:20px 0;
}

h5{
    color: grey;

}

/* END COMMON */

/* BUTTONS */

.btn{
    display: inline-block;
    line-height: normal;
    text-decoration: none;
}

.blu-btn{
    color: white;
    background-color: #0061ff;
    padding: 8px 20px;
}

.btn-large{
    padding: 8px 40px;
    font-size: 13px;
}

#small-b{
    color: white;
    background-color: #0061ff;
    font-size: 13px;
    padding: 6px 18px;

}

/* HEADER  */
header{
    width: 100%;
    background-color: white;
     position: fixed; 
    top: 0px;
    left: 0;
    z-index: 5;
   
}
.col-10{
    width: 10%;
}
.col-10 img{
    vertical-align: middle;
    padding: 10px 13px;
}
.col-40left{
    width: 40%;
    text-align:left
}
.col-40right{
    width: 40%;
    text-align:right;
}

.top-nav{
    height: 80px;
    line-height: 80px;
     
}

.links{
    list-style-type: none;

}
.links li{
    display: inline-block;
    padding:0 40px;
}

.underline{
    text-decoration: none;
    color: black;
    display: inline-block;
}
.underline:hover{
    border-bottom: 2px solid black;

}


 /* MAIN */

 /* jumbotron */

 .jumbotron{
     background-color: #b4d0e7;
     margin-top:80px;
      position: relative; 
      z-index: 1;
     /* TEST */

    /* height: 500px;  */
 }

 .jumbo-container{
     width: 80%;
     margin: auto;
 }
 
 h1{
     font-size: 70px;
     padding-top: 40px;
     padding-bottom: 20px;
 }

 .jumbo-content{
     width: 30%;
     padding-top:20px;
     padding-bottom: 100px;
 }
 

 .jumbo-img{ 
     width: 50%;
     
      position: absolute; 
      right: 205px; 
      top: 272px; 
 }

 .jumbo-b{
     margin-top:20px;
     margin-bottom: 10px;
 }

 .jumbo-bottom{
     margin-top:10px;
     margin-bottom: 50px;
 }


 /* FIRST SECTION */

 section{
     margin: 100px 0;
     padding: 30px 0;

 }

 .option{
     margin-top: 50px;
     margin-bottom: 30px;
     height: 50px;
     line-height: 50px;

 }

 .radio-btn{
     display: inline-block;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     text-align: center;
     line-height: 20px;
     vertical-align: middle;

 }
 
 .mounth{
    background-color: white;
    border: 5px solid  #0061ff;

 }

 .year{
     background-color: white;
     border: 1px solid lightgray
 }
 .option span{
     margin-right: 20px;
 }

 .col-30{
     width: 30%;
     border: 1px solid lightgray;
    
   
 }
 .central-col{
     
     margin: 0 5%;
 }

 .heading{
     text-align: center;
     height: 50px;
     border-bottom: 1px solid lightgray;
     line-height: 50px;  
 }
 .col-container{
     width:85%;
     margin: auto;
 }

 /* col list */
 .option-list{
     margin: 30px 0;
     padding-top: 20px;
     padding-bottom: 20px;
 }
 .option-list::after{
     display: block;
     content:"";
     width: 60px;
     height:2px;
     background-color: lightgray;
 }

 .option-list ul{
     list-style-type: none;
 }

 .option-list ul li{
     padding: 15px 0;
 }

 .button-li{
     text-align: center;
 }
 .violet-link{
     text-decoration: none;
   
    color: #0061ff ;
 }

 .checklist{
     list-style-type: none;
 }

 .checklist li{
     margin-bottom: 20px;
 }
 .checklist li i{
     color:#0061ff;
 }