/* RESET */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
   
   
}

/* COMMON */
img{
    width: 100%;
}
body{
    font-family:Open Sans,sans-serif;
}


.clearfix::after{
    content:"";
    display:table;
    clear:both;
}

.col{
    float: left;
}

.container{
    width: 70%;
    margin: auto;
}

.titles{
    font-size: 40px;
}

h3{
    font-size: 25px;
    margin: 25px 0;
    font-weight: 800;
}
h4{
     font-weight:800;
     margin:20px 0;
}

h5{
    color: grey;

}

/* END COMMON */

/* BUTTONS */

.btn{
    display: inline-block;
    line-height: normal;
    text-decoration: none;
}

.blu-btn{
    color: white;
    background-color: #0061ff;
    padding: 8px 20px;
}

.btn-large{
    padding: 8px 40px;
    font-size: 13px;
}

#small-b{
    color: white;
    background-color: #0061ff;
    font-size: 13px;
    padding: 6px 18px;

}

/* HEADER  */
header{
    width: 100%;
    background-color: white;
     position: fixed; 
    top: 0px;
    left: 0;
    z-index: 5;
   
}
.col-10{
    width: 10%;
}
.col-10 img{
    vertical-align: middle;
    padding: 10px 13px;
}
.col-40left{
    width: 40%;
    text-align:left
}
.col-40right{
    width: 40%;
    text-align:right;
}

.top-nav{
    height: 80px;
    line-height: 80px;
     
}

.links{
    list-style-type: none;

}
.links li{
    display: inline-block;
    padding:0 40px;
}

.underline{
    text-decoration: none;
    color: black;
    display: inline-block;
}
.underline:hover{
    border-bottom: 2px solid black;

}


 /* MAIN */

 /* jumbotron */

 .jumbotron{
     background-color: #b4d0e7;
     margin-top:80px;
      position: relative; 
      z-index: 1;
    

    
 }

 .jumbo-container{
     width: 80%;
     margin: auto;
 }
 
 h1{
     font-size: 70px;
     padding-top: 40px;
     padding-bottom: 20px;
 }

 .jumbo-content{
     width: 30%;
     padding-top:20px;
     padding-bottom: 100px;
 }
 

 .jumbo-img{ 
     width: 47%;
     
      position: absolute; 
      right: 224px; 
      top: 264px; 
 }

 .jumbo-b{
     margin-top:20px;
     margin-bottom: 10px;
 }

 .jumbo-bottom{
     margin-top:10px;
     margin-bottom: 50px;
 }


 /* FIRST SECTION */

 .section-1{
     margin-top:150px;
     padding: 30px 0;

 }

 .option{
     margin-top: 50px;
     margin-bottom: 30px;
     height: 50px;
     line-height: 50px;

 }

 .radio-btn{
     display: inline-block;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     text-align: center;
     line-height: 20px;
     vertical-align: middle;

 }
 
 .mounth{
    background-color: white;
    border: 5px solid  #0061ff;

 }

 .year{
     background-color: white;
     border: 1px solid lightgray
 }
 .option span{
     margin-right: 20px;
 }

 .col-30{
     width: 30%;
     border: 1px solid lightgray; 
     height: 1200px;
    
   
 }
 .central-col{
     
      margin: 0 5%; 
 }

 .heading{
     text-align: center;
     height: 50px;
     border-bottom: 1px solid lightgray;
     line-height: 50px;  
 }
 .col-container{
     width:80%;
     margin: auto;
 }

 /* col list */
 .option-list{
     margin: 30px 0;
     padding-top: 20px;
     padding-bottom: 20px;
 }
 .option-list::after{
     display: block;
     content:"";
     width: 60px;
     height:2px;
     background-color: lightgray;
     margin-top: 10px;
 }

 .option-list ul{
     list-style-type: none;
 }

 .option-list ul li{
    padding-top:15px;
    padding-bottom: 15px;
    padding-left:20px;
 }
 
 .icon{
     
     margin-left: -20px;
 }

 .button-li{
     text-align: center;
 }
 .violet-link{
     text-decoration: none;
     font-weight: bold;
    color: #0061ff ;
 }

 .option-list-bottom ul li{
    padding-top:15px;
    padding-bottom: 15px;
    padding-left:20px;

 }

 .checklist{
     list-style-type: none;
 }

 .checklist li{
     margin-bottom: 20px;
 }
 .checklist li i{
     color:#0061ff;
 }

 /* first section bottom */

 .bottom-main{
    border: 1px solid lightgray;
    margin: 50px 0;
 }

 .bottom-heading{
     height: 50px;
     text-align: center;
     line-height: 50px;
     border-bottom: 1px solid lightgray;
     
 }

 .section-col70{
     width: 70%;
     padding-left: 30px;
     padding-bottom: 30px;

 }

 .section-col30{
     width: 30%;
     padding-top: 30px;
 }

#btn-special{
    padding: 8px 65px;
}
/* end section 1 */

/* SECTION 2 */

.section-2{
    margin: 70px 0;
}

.col-55-img{
    width: 55%;
    padding-top: 20px;
    padding-right: 55px;
}

.col-45-text{
    width: 45%;
    padding-top: 20px;
    padding-left:20px;
}

.bordered-btn{
    padding: 8px 20px;
    color: black;
    background-color: white;
    border: 1px solid black;
}

.col.col-45-text a{
    margin: 20px 0;
}

/* end section 2 */

/* SECTION 3 */

.section-3{
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 30px 0;
}

.col30-row{
    width: 30%;
    padding: 30px;
    
   
}

.dropbox-underline{
    text-decoration: underline;
}
/* end section 4 */

/* SECTION 4 */

.col-logos{
    width: 500px;
    height: 500px;
}

 .col-text{
     width: calc(100% - 1000px);
     height:500px;
     background-color: #f5f5f5;
     padding: 40px;
 }


 .box{
     width: 250px;
     height: 250px;
   
    
 }

 .green-box{
     background-color: #a2d39b;
     padding-top: 90px;
     padding-left:40px;
     padding-right:40px;
     border: 10px solid #d0e9cd;

 }

 .granada-box{
     background-color: #61082b;
     padding-top: 80px;
     padding-left: 60px;
     padding-right: 60px;
 }

 .cyan-box{
     background-color: #0093ce;
     padding-top: 110px;
     padding-left: 60px;
     padding-right: 60px;
     
 }

 .flame-red-box{
     background-color: #ff1c1c;
     padding-top: 94px;
     padding-left: 60px;
     padding-right: 60px;
 }

 .red-box{
     background-color: #d50d1e;
     padding-top: 90px;
     padding-left: 60px;
     padding-right: 60px;
 }

 .light-cyan-box{
     background-color: #b4d0e7;
     padding-top: 120px;
     padding-left: 60px;
     padding-right: 60px;
 }

 .blue-box{
     background-color: #0d2481;
     padding-top: 103px;
     padding-left: 60px;
     padding-right: 60px;
 }

 .yellow-box{
     background-color: #ffd830;
     padding-top: 80px;
     padding-left: 60px;
     padding-right: 60px;
 }

 .img-wrap{
     width: 150px;
     height: 75px;
     /* position: relative; */
 }

 .img-wrap::after{
    display: block;
    content:"";
    width: 60px;
    height:2px;
    background-color: #e0e0e2;
    /* position: absolute; */
    /* bottom:0px; */
    margin-top:20px;

 }

 .col-logos img{
     filter: invert(1);
 }

 